.inner-JS {
	cursor: default;
	border-bottom: 1px dashed;
	text-decoration: none !important;
}
#adminmenuback {
        background-image: -moz-linear-gradient(right, rgba(0, 0, 0, 0.075) 0%, transparent 30%, transparent 100%);
        background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.075) 0%, transparent 30%, transparent 100%);
        background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.075) 0%, transparent 30%, transparent 100%);
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.075) 0%, transparent 30%, transparent 100%)
}