.user-admin-color-wrap {
	display: none !important;
	}
	
	
#your-profile {
	counter-reset: item;
	}
	#your-profile h2 {
		
		}
		#your-profile h2:before {
			content: counter(item) '. '; 
			counter-increment: item;
			}
	#your-profile h2 ~ table {
		margin-bottom: 3.6em;
		}
	#your-profile h2 ~ table tr:first-child th {
		padding-top: 0;
		}