php_value date.timezone "Europe/Kiev"
<IfModule mod_php5.c>
  php_value short_open_tag 1
</IfModule>


###  #
	RewriteEngine on 
	RewriteCond $1 !^(index\.php|images|robots\.txt|public)
	RewriteCond %{REQUEST_URI} !\.(css¦js¦jpg¦gif)$
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ /index.php/$1 [L,QSA]

Options +FollowSymLinks

# ----------------------------------------------------------------------

# UTF-8 encoding

# ----------------------------------------------------------------------

### Принудительная установка кодировки UTF-8 #

	<FilesMatch "\.(htm|html|css|js|php)$">

		AddDefaultCharset UTF-8

		DefaultLanguage ru-RU

	</FilesMatch>

# Включение ошибок на время отладки
	php_flag display_errors on